h1, h2, h3, h4, h5, h6{
    text-shadow: 1px 1px rgba(190, 183, 183, 0.829)
}


/* NewExercisePage és az ahhoz tartozó komponensek CSS beállításai */
/*#exercise-cancel-icon{
    margin: 1px;
    font-size: 2rem;
    color:dimgray;
    opacity: 0.75;
}
*/
/* NewWorkoutPage és az ahhoz tartozó komponensek CSS beállításai */
.activeCard{
    box-shadow: 0 0 10px 7px #0d6efd;
    border-radius: 10px;
}

#workout-cancel-icon{
    margin: 1px;
    font-size: 2rem;
    color: rgb(192, 48, 48);
    opacity: 0.6
}

.workout-index{
    height: 2rem;
    position: absolute;
    margin: 4px;
    padding: 2px 4px;
    letter-spacing: 1px;
    top: 12.5rem;
    left: 0;
    background-color: black;
    opacity: 0.7;
    border-radius: 10px;
}

.workout-index p{
    color: white;
}

.exercise-name{
    margin: 4px;
    padding: 2px 4px;
    bottom: 0;
    right: 0;
    position: absolute;
    color: white;
    background-color: black;
    opacity: 0.8;
    border-radius: 5%;
}

.card-img{
    width: 100%;
    border-radius: 10px;
}

/* NewProgramPage és az ahhoz tartozó komponensek CSS beállításai */
#program-cancel-icon{
    margin: 1px;
    font-size: 2rem;
    color: rgb(192, 48, 48);
    opacity: 0.6
}

/* MembershipPage  CSS beállításai */
.membership-info{
    width: 240px;
    height: 120px;
    margin: 4px;
    padding: 2px 4px;
    bottom: 20%;
    left: 10%;
    position: absolute;
    color: white;
    background-color: black;
    opacity: 0.73;
    border-radius: 5%;
    box-shadow: 0 0 10px 7px black;
}

.activeMembershipCard{
    box-shadow: 0 0 10px 7px #0d6efd;
    border-radius: 10px;
}

.membershipCard{
    box-shadow: 3px 2px 10px 7px grey;
    border-radius: 11px;

}

.membershipCard:hover{
    box-shadow: 0 0 10px 7px black;
    border-radius: 10px;
}


/* UserProgramPage  CSS beállításai */

.program-info{
    width: 90%;
    height: 70px;
    margin: 4px;
    padding: 2px 4px;
    bottom: 4%;
    left: 4%;
    position: absolute;
    color: white;
    background-color: black;
    opacity: 0.73;
    border-radius: 5%;
    box-shadow: 0 0 10px 7px black;
}

.programCard:hover{
    box-shadow: 0 0 10px 7px black;
    border-radius: 11px;
}

.programCard{
    box-shadow: 3px 2px 10px 7px grey;
    border-radius: 11px;
}

/* ProgramPage CSS beállításai*/
.workout-info{
    width: 80%;
    height: 70px;
    margin: 0 10% 0 10%;
    bottom: 4%;
    position: absolute;
    color: white;
    background-color: black;
    opacity: 0.73;
    border-radius: 5%;
    box-shadow: 0 0 10px 7px black;
}

.workoutCard:hover{
    box-shadow: 0 0 10px 7px black;
    border-radius: 11px;
}

/* WorkoutPage CSS veállításai*/
.exercise-info{
    width: auto;
    height: auto;
    margin: 1rem 1rem 1rem 2rem;
    display: inline-block;
    color:black;
    opacity: 0.73;
    border-radius: 5%;

}

/* StopWatch CSS*/
.stopwatch {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.76);
    box-shadow: 0 0 7px 7px rgba(190, 183, 183, 0.829);
    width: 325px;
    height: 130px;
    margin: 2rem auto 1rem;
    border-radius: 10px
}

.stopwatch p {
    font-size: 28px;
}
.stopwatch-card {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.76);
    box-shadow: 0 4px 8px 1px  rgba(190, 183, 183, 0.829);
    width: 325px;
    height: 100px;
    margin: auto;
    border-radius: 10px

  }
  
  button {
    outline: none;
    background: transparent;
    border: 1px solid blue;
    padding: 5px 10px;
    border-radius: 7px;
    color: blue;
    cursor: pointer;
  }
  
  .buttons {
    display: flex;
    justify-content: space-evenly;
    width: 150px;
    margin: 0 auto;
    margin-top: 5px;
  }