.spinner-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-group{
    border: 1px solid lightgray;
    border-radius: 8px;
}

.input-group .form-check{
    margin-left: 1rem;
    margin-right: 1rem;
}

.manage-control-buttons{
    position: absolute;
    right: 25px;
}

.manage-control-buttons .btn{
    margin-left: 1rem;
}